@font-face {
    font-family: 'gilroybold';
    src: url('gilroy-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroylight';
    src: url('gilroy-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroysemibold';
    src: url('gilroy-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}