@font-face {
    font-family: 'gilroybold';
    src: url('gilroy-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroylight';
    src: url('gilroy-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroysemibold';
    src: url('gilroy-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: 'gilroybold', sans-serif;
    font-size: 150px;
}

*,
*:before,
*:after {
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}


/* ---------------------------------- */

:root {
    --duration: .5s;
}

.char {
    animation-name: char-transform;
    animation-duration: calc(var(--duration));
    animation-fill-mode: both;
    animation-delay: calc(var(--duration) + .05s * (var(--char-total) - var(--char-index)));
    text-shadow: 0 3vh 4vh rgba(0, 0, 0, 0.03);
}

.char:first-child {
    animation-name: first-char-transform;
    animation-duration: calc(var(--duration) * 2);
    animation-delay: 0s;
}

@keyframes char-transform {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    70% {
        transform: translateY(-6%);
    }
    90% {
        transform: translateY(1%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes char-rotate {
    0% {
        transform: rotate(30deg);
    }
    30% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes first-char-transform {
    0% {
        transform: translateX(calc(.75ch * var(--char-total))) translateY(200%);
    }
    40% {
        transform: translateX(calc(.75ch * var(--char-total))) translateY(-10%);
    }
    60% {
        transform: translateX(calc(.75ch * var(--char-total))) translateY(7%);
    }
    100% {
        transform: none;
    }
}

@keyframes first-char-rotate {
    0% {
        transform: rotate(0.5turn);
    }
    40% {
        transform: rotate(-0.1turn);
    }
    70% {
        transform: rotate(0.1turn);
    }
    100% {
        transform: rotate(0turn);
    }
}


/* ---------------------------------- */

.splitting .char {
    visibility: hidden;
}

.splitting .char::before {
    visibility: visible;
    animation: inherit;
    animation-name: char-rotate;
    animation-duration: calc(var(--duration) * 1.1);
}

.splitting .char:first-child::before {
    animation-name: first-char-rotate;
    animation-duration: inherit;
}