/* Main menu positionning */

.main-nav {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: #fff;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    -webkit-transition: all 0.375s;
    transition: all 0.375s;
}

.main-nav.is-open {
    opacity: 1;
    z-index: 100;
    visibility: visible;
}


/* Yellow band effect */

.main-nav::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15px;
    background: #fedc2a;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: skew(-14deg) translateX(-120%);
    transform: skew(-14deg) translateX(-120%);
    -webkit-transition: all 0.275s 0.1s;
    transition: all 0.275s 0.1s;
}

.main-nav.is-open::before {
    -webkit-transform: skew(-14deg) translateX(0);
    transform: skew(-14deg) translateX(0);
}


/* Skewing effect on menu links */

.main-nav ul {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 47%;
    /* Should be 100%, but we have a notice message :D */
    -webkit-box-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-transform: translateX(-18%) skew(-16deg);
    transform: translateX(-18%) skew(-16deg);
}

.main-nav li {
    display: block;
    margin: 5rem 0;
    text-align: right;
    -webkit-transform: skew(16deg);
    transform: skew(16deg);
    s
}


/* Apparition effect on links */

.main-nav a {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.main-nav.is-open a {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.main-nav li:nth-child(1) a {
    -webkit-transition: all 275ms 175ms;
    transition: all 275ms 175ms;
}

.main-nav li:nth-child(2) a {
    -webkit-transition: all 275ms 225ms;
    transition: all 275ms 225ms;
}

.main-nav li:nth-child(3) a {
    -webkit-transition: all 275ms 275ms;
    transition: all 275ms 275ms;
}

.main-nav li:nth-child(4) a {
    -webkit-transition: all 275ms 325ms;
    transition: all 275ms 325ms;
}

.main-nav li:nth-child(5) a {
    -webkit-transition: all 275ms 375ms;
    transition: all 275ms 375ms;
}


/* Decoration */

.main-nav ul,
.main-nav li {
    list-style: none;
    padding: 0;
}

.main-nav a {
    display: block;
    padding: 12px 0;
    color: #5a3b5d;
    font-size: 10.4em;
    text-decoration: none;
    font-weight: bold;
    font-family: "gilroybold";
}


/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */

.open-main-nav {
    position: absolute;
    top: 15px;
    padding-top: 20px;
    right: 15px;
    z-index: 1000;
    background: none;
    border: 0;
    cursor: pointer;
}

.open-main-nav:focus {
    outline: none;
}

.burger {
    position: relative;
    display: block;
    width: 28px;
    height: 4px;
    margin: 0 auto;
    background: #5a3b5d;
    -webkit-transform: skew(5deg);
    transform: skew(5deg);
    -webkit-transition: all 0.275s;
    transition: all 0.275s;
    transform: scale(3.0);
    top: 85px;
    left: -52px;
}

.burger:after,
.burger:before {
    content: "";
    display: block;
    height: 100%;
    background: #5a3b5d;
    -webkit-transition: all 0.275s;
    transition: all 0.275s;
}

.burger:after {
    -webkit-transform: translateY(-12px) translateX(-2px) skew(-20deg);
    transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
    -webkit-transform: translateY(-16px) skew(-10deg);
    transform: translateY(-16px) skew(-10deg);
}


/* Toggle State part */

.is-open .burger {
    -webkit-transform: skew(5deg) translateY(-8px) rotate(-45deg);
    transform: skew(5deg) translateY(-8px) rotate(-45deg);
    transform: scale(3.0);
}

.is-open .burger:before {
    -webkit-transform: translateY(0px) skew(-10deg) rotate(75deg);
    transform: translateY(0px) skew(-20deg) rotate(70deg);
}

.is-open .burger:after {
    -webkit-transform: translateY(-12px) translateX(10px) skew(-20deg);
    transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
}


/* MENU Text part */

.burger-text {
    display: block;
    font-size: 1.3rem;
    letter-spacing: 0.05em;
    margin-top: 8em;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 9.5em;
    font-family: "gilroybold";
    color: #5a3b5d;
    transform: scale(3.0);
    left: 50px;
    top: 0px;
    position: relative;
}

.device {
    position: relative;
    width: 345px;
    height: 600px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}

.containerNav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background: -webkit-gradient( linear, left top, left bottom, from(#eee), to(#ddd));
    background: none;
}


/* Slow motion button */

[id="slowmo"] {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    border: 0;
    font-size: 1rem;
    background: #fedc2a;
    color: #5a3b5d;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.275s;
    transition: all 0.275s;
}

[id="slowmo"] span {
    display: block;
    font-weight: normal;
}

[id="slowmo"]:hover,
[id="slowmo"]:focus {
    background: #5a3b5d;
    color: #fedc2a;
}

[id="slowmo"].is-slowmo span:after {
    content: "Activated";
    display: block;
    font-weight: bold;
}


/* When slowmotion is activated */

.is-slowmo+.device .open-main-nav .burger,
.is-slowmo+.device .open-main-nav .burger:before,
.is-slowmo+.device .open-main-nav .burger:after,
.is-slowmo+.device .main-nav,
.is-slowmo+.device .main-nav::before,
.is-slowmo+.device .main-nav a {
    -webkit-transition-duration: 3s;
    transition-duration: 3s;
}

.is-slowmo+.device .main-nav li:nth-child(1) a {
    -webkit-transition-delay: 1750ms;
    transition-delay: 1750ms;
}

.is-slowmo+.device .main-nav li:nth-child(2) a {
    -webkit-transition-delay: 2250ms;
    transition-delay: 2250ms;
}

.is-slowmo+.device .main-nav li:nth-child(3) a {
    -webkit-transition-delay: 2750ms;
    transition-delay: 2750ms;
}

.is-slowmo+.device .main-nav li:nth-child(4) a {
    -webkit-transition-delay: 3250ms;
    transition-delay: 3250ms;
}

.is-slowmo+.device .main-nav li:nth-child(5) a {
    -webkit-transition-delay: 3750ms;
    transition-delay: 3750ms;
}


/* Notice */

.notice {
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    padding: 20px;
    background: #f2f2f2;
    color: #5a3b5d;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    font-family: "gilroybold";
    z-index: 100;
    text-align: center;
}

.notice strong {
    font-weight: 700;
    font-family: "gilroybold";
}

.notice a {
    padding: 2px 3px;
    background: #fedc2a;
    text-decoration: none;
}