@font-face {
    font-family: 'gilroybold';
    src: url('gilroy-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroylight';
    src: url('gilroy-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroysemibold';
    src: url('gilroy-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #fff;
    font-family: 'gilroybold', sans-serif;
}


/* ===== FOR DEMO ===== */

.pen-info {
    flex: 0 0 100%;
    text-align: center;
}

.pen-info__title {
    font-family: 'gilroybold', sans-serif;
    font-size: 40px;
    letter-spacing: 1.8px;
    margin: 0;
}

.pen-info__p {
    font-size: 17px;
}

.demo {
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.demo__div {
    -webkit-box-shadow: -1px 9px 18px -5px rgba(17, 17, 17, 1);
    -moz-box-shadow: -1px 9px 18px -5px rgba(17, 17, 17, 1);
    box-shadow: -1px 9px 18px -5px rgba(17, 17, 17, 1);
}


/* ===== MAIN CODE ===== */

.people {
    flex: 0 0 23%;
    min-width: 350px;
    height: 500px;
    margin: 25px 5px 0;
    background-color: rgba(229, 229, 229, 1);
    position: relative;
    backface-visibility: hidden;
    overflow: hidden;
    backface-visibility: hidden;
}

.people__img {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    object-position: center;
    transform-origin: center;
    transition: all 0.4s;
}

.people:hover .people__img {
    margin-top: 20px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.people:nth-of-type(1) .people__img {
    object-position: top center;
    background-color: #fff;
}

.people__div--name {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    max-width: 300px;
    line-height: 1.5;
    padding: 0 20px;
    transition: all 0.4s;
}

.people:hover .people__div--name {
    left: -130%;
}

.people-name {
    letter-spacing: 1.1px;
}

.people__div--info {
    position: absolute;
    bottom: 0;
    height: 40%;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    background-color: #fff;
    transition: all 0.4s;
}

.people:hover .people__div--info {
    opacity: 1;
    visibility: visible;
}

.people__name {
    font-family: 'gilroybold', sans-serif;
    margin: 10px 0;
    letter-spacing: 1.1px;
}

.people__desc {
    font-family: 'gilroylight';
    line-height: 1.5;
    margin: 0 0 20px;
}

@media only screen and (max-width: 1200px) {
    .people {
        flex: 0 0 48%;
    }
}

@media only screen and (max-width: 767px) {
    body {
        padding: 50px 20px;
    }
    .people {
        flex: 0 0 100%;
        min-width: unset;
        max-width: 400px;
        margin: 25px auto 0;
    }
}